VITE_APP_SITE_NAME=E-Mall
VITE_ADMIN_SITE_NAME=E-Mall 管理后台
VITE_APP_LOGO_TEXT=E-Mall
VITE_ADMIN_LOGO_TEXT=Admin
VITE_DEFAULT_PAGE_SIZE=15
VITE_NOTIFICATION_POLLING_INTERVAL_MS=30000
VITE_UPLOAD_MAX_SIZE_MB=5
VITE_NOTIFICATION_SSE=false
VITE_NOTIFICATION_POLLING=true
